# Project Epidemic Model

**MDI230 - Files d'attente**

S2-P4 2022/23

* MONTES, Julia Soledad.
* PARAFATI, Mauro.
* PONS, Bruno.

### Imports

In [4]:
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt
import statistics

### Deterministic system SIR

We solve and display the deterministic system SIR, taking as input the beta and gamma parameters.

In [3]:
#TODO: add the code to solve the system SIR

### Markov process for a population of N individuals.

We simulate the evolution of the Markov process for a population of N individuals with the same beta and gamma parameters.

In [ ]:
#TODO: add the code to simulate the Markov process

### Parameter estimation from French public health data

In [5]:
db = pd.read_csv('covid-hospit-incid-2023-03-31-18h01.csv', sep=';')

In [7]:
display(db)

        dep        jour  incid_hosp  incid_rea  incid_dc  incid_rad
0        01  2020-03-19           1          0         0          0
1        01  2020-03-20           0          0         0          1
2        01  2020-03-21           3          0         0          0
3        01  2020-03-22           3          1         0          1
4        01  2020-03-23          14          1         0          5
...     ...         ...         ...        ...       ...        ...
113011  978  2023-03-27           0          0         0          0
113012  978  2023-03-28           0          0         0          0
113013  978  2023-03-29           0          0         0          0
113014  978  2023-03-30           0          0         0          0
113015  978  2023-03-31           0          0         0          0

[113016 rows x 6 columns]